.home-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  font-size: 1.25rem;
  justify-content: center;
  align-items: center;
  gap: 50px;
  background: #1A0F25;
  background: linear-gradient(0deg, rgba(26, 15, 37, 1) 0%, rgba(92, 48, 117, 1) 93%);
  text-align: center;
}

.create-session-container {
  background-color: #2a1c3d;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
}

button {
  background-color: #a855f7;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 1em;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-family: 'Montserrat', sans-serif;
  margin-top: 30px;
}

button:hover {
  background-color: white;
  color: black;
}

input {
  width: 500px;
  padding: 10px;
  border-radius: 15px;
  border: 1px inset black;
  background-color: #3a2c4d;
  color: white;
  font-size: 1em;
  margin-top: 20px;
  font-family: 'Montserrat', sans-serif;
}

.input-contaier {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

